.c-dropdown {
  display: block;
  background-color: var(--background-color);
  box-shadow: 0px 0px 6px 0px var(--c-color-default-4);
  border-radius: 4px;
  z-index: var(--c-z-index-dropdown);
}

.c-dropdown__body {
  position: relative;
  z-index: var(--c-z-index-dropdown);
  border-radius: 4px;
  overflow: scroll;
}
.c-dropdown__body::-webkit-scrollbar {
  display: none;
}

.c-dropdown__arrow,
.c-dropdown__arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
  z-index: var(--c-z-index-dropdown-arrow);
}
.c-dropdown__arrow {
  visibility: hidden;
}
.c-dropdown__arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
.c-dropdown[data-popper-placement^='top'] > .c-dropdown__arrow {
  bottom: -4px;
}
.c-dropdown[data-popper-placement^='bottom'] > .c-dropdown__arrow {
  top: -4px;
}
.c-dropdown[data-popper-placement^='left'] > .c-dropdown__arrow {
  right: -4px;
}
.c-dropdown[data-popper-placement^='right'] > .c-dropdown__arrow {
  left: -4px;
}
