.c-input {
  --c-input-height-s: 22px;
  --c-input-height-m: 30px;
  --c-input-height-l: 38px;
  --c-input-padding-s: 0 7px;
  --c-input-padding-m: 0 11px;
  --c-input-padding-l: 0 15px;
  --c-input-padding-textarea: 5px 11px;
}

/* 默认 */
.c-input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 1px var(--c-color-line-1) solid;
  /* height: var(--c-input-height-m); */
  text-align: left;
  border-radius: 4px;
  opacity: 1;
  transition: all 0.3s ease-out;
  z-index: var(--c-z-index-input);
}
.c-input input {
  display: inline-block;
  padding: var(--c-input-padding-m);
  border: none;
  outline: none;
  border-radius: 4px;
  color: var(--c-color-text-1);
  height: var(--c-input-height-m);
  line-height: var(--c-input-height-m);
  font-size: var(--c-font-size-m);
  background-color: #00000000;
  vertical-align: bottom;
}
.c-input textarea {
  display: inline-block;
  padding: var(--c-input-padding-textarea);
  border: none;
  outline: none;
  border-radius: 4px;
  color: var(--c-color-text-1);
  /* height: var(--c-input-height-m); */
  /* line-height: var(--c-input-height-m); */
  font-size: var(--c-font-size-m);
  background-color: #00000000;
  vertical-align: bottom;
  min-height: 40px;
}

/* disabled */
.c-input-disabled {
  background-color: var(--c-color-line-2);
  opacity: 0.5;
}
.c-input-disabled input {
  cursor: not-allowed;
}

/* 鼠标悬浮和点击状态 */
.c-input-hover {
  border-color: var(--c-color-primary-1);
}
.c-input-focus {
  border-color: var(--c-color-primary-1);
  box-shadow: 0px 0px 0px 1.5px var(--c-color-primary-4);
}
.c-input-focus input {
  background-color: var(--c-color-primary-0);
}
.c-input-focus textarea {
  background-color: var(--c-color-primary-0);
}

/* 尺寸 */
/* .c-input-s {
  height: var(--c-input-height-s);
} */
.c-input-s {
  line-height: calc(var(--c-input-height-s) - 0px);
}
.c-input-s input {
  padding: var(--c-input-padding-s);
  height: var(--c-input-height-s);
  line-height: calc(var(--c-input-height-s) - 0px);
  font-size: var(--c-font-size-s);
}
.c-input-m {
  line-height: calc(var(--c-input-height-m) - 0px);
}
.c-input-m input {
  padding: var(--c-input-padding-m);
  height: var(--c-input-height-m);
  line-height: var(--c-input-height-m);
  font-size: var(--c-font-size-m);
}
.c-input-l {
  line-height: calc(var(--c-input-height-l) - 0px);
}
.c-input-l input {
  padding: var(--c-input-padding-l);
  height: var(--c-input-height-l);
  line-height: var(--c-input-height-l);
  font-size: var(--c-font-size-l);
}

/* align */
