/* Button CButton */

.c-button {
  --c-button-height-s: 24px;
  --c-button-height-m: 32px;
  --c-button-height-l: 40px;
  --c-button-padding-s: 0 12px;
  --c-button-padding-m: 0 16px;
  --c-button-padding-l: 0 20px;
}

/* 默认 */
.c-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--c-color-primary-1);
  border-radius: 4px;
  line-height: var(--c-button-height-m);
  font-size: var(--c-font-size-m);
  height: var(--c-button-height-m);
  padding: 0 16px;
  color: var(--c-color-text-dirty-1);
  opacity: 1;
  transition: all 0.2s ease-out;
}
.c-button:hover {
  cursor: pointer;
}
.c-button-dirty:hover {
  opacity: 0.7;
}
.c-button:active {
  opacity: 0.9;
  transition: none;
}
.c-button__border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px var(--c-color-primary-1) solid;
  border-radius: 4px;
}
/* round */
.c-button-round {
  border-radius: var(--c-button-height-m);
}
.c-button-round .c-button__border {
  border-radius: var(--c-button-height-m);
}

/* disabled */
.c-button-disabled {
  opacity: 0.5;
}
.c-button-disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}
.c-button-disabled:active {
  opacity: 0.5;
}

/* 尺寸-l、m、s */
.c-button-l {
  line-height: var(--c-button-height-l);
  height: var(--c-button-height-l);
  padding: var(--c-button-padding-l);
}
.c-button-l.c-button-round {
  border-radius: var(--c-button-height-l);
}
.c-button-l.c-button-round .c-button__border {
  border-radius: var(--c-button-height-l);
}
.c-button-m {
  line-height: var(--c-button-height-m);
  height: var(--c-button-height-m);
  padding: var(--c-button-padding-m);
}
.c-button-m.c-button-round {
  border-radius: var(--c-button-height-m);
}
.c-button-m.c-button-round .c-button__border {
  border-radius: var(--c-button-height-m);
}
.c-button-s {
  line-height: var(--c-button-height-s);
  height: var(--c-button-height-s);
  padding: var(--c-button-padding-s);
}
.c-button-s.c-button-round {
  border-radius: var(--c-button-height-s);
}
.c-button-s.c-button-round .c-button__border {
  border-radius: var(--c-button-height-s);
}

/* 颜色-primary */
.c-button-primary {
  background-color: var(--c-color-primary-1);
}
.c-button-primary .c-button__border {
  border-color: var(--c-color-primary-1);
}
.c-button-primary.c-button-clean {
  color: var(--c-color-primary-1);
  background-color: var(--c-color-primary-0);
}
.c-button-primary.c-button-clean:hover {
  color: var(--c-color-text-dirty-1);
  background-color: var(--c-color-primary-1);
}
.c-button-primary.c-button-clean.c-button-disabled:hover {
  color: var(--c-color-primary-1);
  background-color: var(--c-color-primary-0);
}

/* 颜色-success */
.c-button-success {
  background-color: var(--c-color-success-1);
}
.c-button-success .c-button__border {
  border-color: var(--c-color-success-1);
}
.c-button-success.c-button-clean {
  color: var(--c-color-success-1);
  background-color: var(--c-color-success-0);
}
.c-button-success.c-button-clean:hover {
  color: var(--c-color-text-dirty-1);
  background-color: var(--c-color-success-1);
}
.c-button-success.c-button-clean.c-button-disabled:hover {
  color: var(--c-color-success-1);
  background-color: var(--c-color-success-0);
}

/* 颜色-warning */
.c-button-warning {
  background-color: var(--c-color-warning-1);
}
.c-button-warning .c-button__border {
  border-color: var(--c-color-warning-1);
}
.c-button-warning.c-button-clean {
  color: var(--c-color-warning-1);
  background-color: var(--c-color-warning-0);
}
.c-button-warning.c-button-clean:hover {
  color: var(--c-color-text-dirty-1);
  background-color: var(--c-color-warning-1);
}
.c-button-warning.c-button-clean.c-button-disabled:hover {
  color: var(--c-color-warning-1);
  background-color: var(--c-color-warning-0);
}

/* 颜色-error */
.c-button-error {
  background-color: var(--c-color-error-1);
}
.c-button-error .c-button__border {
  border-color: var(--c-color-error-1);
}
.c-button-error.c-button-clean {
  color: var(--c-color-error-1);
  background-color: var(--c-color-error-0);
}
.c-button-error.c-button-clean:hover {
  color: var(--c-color-text-dirty-1);
  background-color: var(--c-color-error-1);
}
.c-button-warning.c-button-clean.c-button-disabled:hover {
  color: var(--c-color-warning-1);
  background-color: var(--c-color-warning-0);
}
