/* Button CButton */

/* 默认 */
.c-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--c-color-primary-1);
  border-radius: 4px;
  line-height: 32px;
  font-size: 14px;
  height: 32px;
  padding: 0 16px;
  color: white;
  transition: all 0.2s ease-out;
}
.c-button:hover {
  cursor: pointer;
}
.c-button-dirty:hover {
  opacity: 0.5;
}
.c-button__border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px var(--c-color-primary-1) solid;
  border-radius: 4px;
}

/* disabled */
.c-button-disabled {
  opacity: 0.5;
}
.c-button-disabled:hover {
  cursor: not-allowed;
}

/* 尺寸-l、m、s */
.c-button-l {
  line-height: 40px;
  font-size: 14px;
  height: 40px;
  padding: 0 20px;
}
.c-button-m {
  line-height: 32px;
  font-size: 14px;
  height: 32px;
  padding: 0 16px;
}
.c-button-s {
  line-height: 24px;
  font-size: 14px;
  height: 24px;
  padding: 0 12px;
}

/* 颜色-primary */
.c-button-primary {
  background-color: var(--c-color-primary-1);
}
.c-button-primary .c-button__border {
  border-color: var(--c-color-primary-1);
}
.c-button-primary.c-button-clean {
  color: var(--c-color-primary-1);
  background-color: var(--c-color-primary-6);
}
.c-button-primary.c-button-clean:hover {
  color: white;
  background-color: var(--c-color-primary-1);
}

/* 颜色-success */
.c-button-success {
  background-color: var(--c-color-success-1);
}
.c-button-success .c-button__border {
  border-color: var(--c-color-success-1);
}
.c-button-success.c-button-clean {
  color: var(--c-color-success-1);
  background-color: var(--c-color-success-6);
}
.c-button-success.c-button-clean:hover {
  color: white;
  background-color: var(--c-color-success-1);
}

/* 颜色-warning */
.c-button-warning {
  background-color: var(--c-color-warning-1);
}
.c-button-warning .c-button__border {
  border-color: var(--c-color-warning-1);
}
.c-button-warning.c-button-clean {
  color: var(--c-color-warning-1);
  background-color: var(--c-color-warning-6);
}
.c-button-warning.c-button-clean:hover {
  color: white;
  background-color: var(--c-color-warning-1);
}

/* 颜色-error */
.c-button-error {
  background-color: var(--c-color-error-1);
}
.c-button-error .c-button__border {
  border-color: var(--c-color-error-1);
}
.c-button-error.c-button-clean {
  color: var(--c-color-error-1);
  background-color: var(--c-color-error-6);
}
.c-button-error.c-button-clean:hover {
  color: white;
  background-color: var(--c-color-error-1);
}
