.c-select {
  --c-select-options-width: 100px;
  --c-select-options-height: 200px;
}
.c-select {
  display: inline-block;
  cursor: pointer !important;
  z-index: var(--c-z-index-select);
}
.c-select input {
  cursor: pointer;
}
.c-select-disabled {
  cursor: not-allowed !important;
}
.c-select-disabled input {
  cursor: not-allowed !important;
}
.c-select__options__option {
  position: relative;
  padding: 0 20px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 36px;
  font-size: 14px;
  /* border-radius: 4px; */
  color: var(--c-color-text-1);
  z-index: var(--c-z-index-select-options);
}
.c-select__options__option:hover {
  background-color: var(--c-color-primary-6);
}
