#c-message-provider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  z-index: var(--c-z-index-message);
}

.c-message-container {
  background-color: transparent;

  position: absolute;
  transition: opacity 0.3s ease, height 0.3s ease, padding 0.3s ease;
  /* transition: all 0.3s ease; */
  opacity: 1;
  height: 68px;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
  z-index: var(--c-z-index-message);
}

.c-message-container-hide {
  position: absolute;
  transition: opacity 0.3s ease, height 0.3s ease, padding 0.3s ease;
  /* transition: all 0.3s ease; */
  opacity: 0;
  height: 0px;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
  z-index: var(--c-z-index-message);
}
