.c-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--c-color-default-0);
  /* 模糊效果 */
  backdrop-filter: blur(10px);
}

.c-loading__icon {
  position: fixed;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  /* transform: translate(-50%, -50%); */
  /* height: 100px;
  width: 100px; */
  animation: changeright 1s linear infinite;
}
.c-loading__text {
  position: absolute;
  display: inline-block;
  text-align: center;
  left: calc(50% - 40px);
  top: calc(50% + 50px);
  color: var(--c-color-primary-1);
}

@keyframes changeright {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.c-loadingbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  border-top-right-radius: 1.5px;
  border-bottom-right-radius: 1.5px;
  /* width: 100vw; */
  background-color: red;
}
