.c-checkbox {
  --c-checkbox-size-s: 12px;
  --c-checkbox-size-m: 14px;
  --c-checkbox-size-l: 16px;
}
.c-checkbox {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  border: 1px var(--c-color-default-1) solid;
  border-radius: 2px;
  transition: all 0.2s ease;
}
.c-checkbox .c-checkbox__inner {
  position: absolute;
  top: -1px;
  left: -1px;
  transition: all 0.15s ease;
  display: block;
}

.c-checkbox-hover {
  border-color: var(--c-color-checkbox);
}
.c-checkbox-true {
  border-color: var(--c-color-checkbox);
}

.c-checkbox-focus {
  border-color: var(--c-color-checkbox);
  box-shadow: 0px 0px 0.5px 1.5px var(--c-color-primary-4);
}

.c-checkbox-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  border-color: var(--c-color-default-1);
  background-color: var(--c-color-default-4);
  box-shadow: none;
}

/* 尺寸 */
.c-checkbox-s {
  width: var(--c-checkbox-size-s);
  height: var(--c-checkbox-size-s);
}
.c-checkbox-m {
  width: var(--c-checkbox-size-m);
  height: var(--c-checkbox-size-m);
}
.c-checkbox-l {
  width: var(--c-checkbox-size-l);
  height: var(--c-checkbox-size-l);
}
